* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(
    90deg, 
    rgba(65, 184, 131, 1) 0%, 
    rgba(0,212, 255, 1) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    border: 2px solid #fff;
    padding: 3em 4em;
    width: 50%;
    min-width: 40em;
}

.new-task-container {
    background: #FFF;
    padding: 3em 2em;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-task-container input:focus {
    outline: none;
    border-color: #41b883;
}

.new-task-container input {

    font-size: 1rem;
    border: 2px solid #d1d3d4;
    border-radius: 5px;
    padding: .7em;
    font-weight: 500;
}

.new-task-button {
    
    font-size: 1rem;
    font-weight: 500;
    height: 100%;
    background: #41b883;
    padding: .7em;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-left: .8em;
    cursor: pointer;
} 

.tasks-container {
    background-color: #fff;
    padding: 3em 2em;
    border-radius: 5px;
    margin-top: 4em;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5em 0;
    cursor: pointer;
}

.task-item i {
    background-color: #41b883;
    padding: .5em;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.footer {
    color: #fff;
    font-weight: 500;
    margin-top: 4em;
    width: 100%;
    text-align: center;   
}

/* effects */
.completed {
    text-decoration: line-through;
}

.fadeOut-delete {
    opacity: 0;
	transition: 0.5s;
}


/* error messages */
.error {
    border: 2px solid #d33333 !important;
}
.error::placeholder {
    color: #d33333;
}

/* smartphones */
@media screen and (max-width:414px) {
    .container {
        width: 20%;
        min-width: 20em;
        padding: 1.5em 1em;
    }
    .new-task-container {
        padding: 1.5em 1em;
    }
    .new-task-container input {
        font-size: .7rem;
    }
    .new-task-button {
        font-size: .7rem;
        width: 80%;
        padding: .7em;
    } 
    .tasks-container {
        padding: 1.5em 1em;
        margin-top: 2em;
        font-size: .7rem;
    }
    .footer {
        font-size: .5em;
    }
    
}